@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tala Test</title>
  </head>

  <body>
    <h1>Backend Mini Project (Bank Account) : By Isaac Khaguli</h1>

    <p>
      This application has four Endpoints
    </p>

    <ul>
      <li><a href="/showjsondata">/showjsondata</a></li>
      <li><a href="#">/balance/:accountnumber</a></li>
      <li><a href="#">/deposit/:accountnumber/:amount</a></li>
      <li><a href="#">/withdraw/:accountnumber/:amount</a></li>
    </ul>
  </body>
</html>
